<div data-role="view" data-title="About" data-layout="main" data-model="APP.models.about">
    <header>
        
           <div data-role="header" class="headbg">

     <div data-role="navbar">
                            <ul data-role="buttongroup" data-index="0">
                         <li ><a href="views/about.html">Login</a>   </li>
                                <li >Our Community<a href="views/publisher.html"> </a>   </li>
                             <li ><a href="views/subcat.html">Presicion Tools</a>   </li>
                                <a href="views/subcatmt.html">Machine Tools</a>   </li>
                            </ul>
                        </div>
        
        </div>

    </div>
        
   
      </header>
      <div>
          
</div>
      

		<h1>LOGIN</h1>
		


