 <div data-role="view" data-title="Publisher" data-layout="main" data-model="APP.models.birds">
    <header>
         <div data-role="header" class="headbg">
        <div data-role="navbar">
                            <ul data-role="buttongroup" data-index="1">
                         <li ><a href="views/about.html">Authors</a>   </li>
                             	  <li ><a href="views/photograp.html">Photographers</a>
                                 <li ><a href="views/contributors.html">Contributors</a>   </li>
                            </ul>
                        </div>
          </div>
      </header>
      <div>

			

</div>


















